*{
    margin: 0;
    padding: 0;
}



body{
    font: 1em "trebuchet MS" , helvetica , sans-serif ;
    background: rgb(235, 233, 233);
}

/*
layout
*/
#cabecalho{
    background: #f7b600;
    text-align: center;
    border:1px solid #f7b600;
    padding: 15px;
}



#menu{
    font-size: 20px;  
}

#menu, #logo{
    padding: 10px;
    font-size: 20px;
}

#areaprincipal{
    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

#arealateral, .post{
    background: white;
}

#postagens{
   width: 660px;
    float: left;
    background: rgb(235, 233, 233);
}   

#arealateral{
    width: 240px;
    float: right;
    background: rgb(235, 233, 233);
}

.post{
    padding: 20px;
    margin-bottom: 20px;
   
}



#rodape{
    background: green;
    clear: both;
    text-align: center;
    padding: 15px;
    background: #ccc;
}

.conteudolateral{
    background: white;
    padding: 10px;
    margin-bottom: 20px;
}

/*#arealateral{

}*/

/*
layout
*/
/*
Formataçoes
*/

.branco{
    color: white;
}

h1{
        font-size: 2.5em;
        color: #4e4e4e;
}

h2{
    color: #f7b600;
}

h3{
    color: #565656;
    background: #ccc;
    padding: 5px;
}

#cabecalho a{ 
    margin: 10px;
    color: white;
    text-decoration: none; 
}

#cabecalho a:link, #cabecalho a:visited{
    color: #fff;
}

#cabecalho a:hover{
    color: #f7b600;
    background: #fff;
}
#cabecalho:a{ 
    color: white;
    text-decoration: none; 
}
a{
    text-decoration: none;
}
    
a:link,a:visited{
        color: #f7b600;
    }
    
a:hover{
      text-decoration: underline;
   }
   .data{
    font-size: 0.8em;
    display: block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #CCC

}
/*
Formataçoes 
*/